@model LoyaltyProgramVersion2.BLL.Operations.CountryOperator

@{
    ViewBag.Title = "DetailCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">DetailCountry</h2>
    </div>
    <div class="card-body">
        @Html.Partial("_Detail")
    </div>
</div>
